body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: rgb(0, 0, 0);
}

h1{
    border: 2px solid orangered;
    outline: solid 2px red;
    outline-offset: -10px;
    width: 50%;
    font-size: 2rem;
    padding: 0.5em;
}

h2{
    border-bottom: 6px dashed orangered;
    width: 45%;
}

p{
    width: 50ch;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

a:visited{
    color: purple;
}

a:hover, a:focus{
    color: dodgerblue;
    background-color: rgba(241, 201, 141, 0.952);
}

a:active{
    color: red;
}