body {
    background-color: papayawhip;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    padding: 10%;
}

/* input, button{
    font: inherit;
} */

p{
    text-align: justify;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    font-weight:400;
}